html * {
    font-family: Verdana, sans-serif;
}
img {
    width: auto;
    height: 300px;
}
#risotto {
    background-color: yellow;
}
.lemonade {
    background-color: aquamarine;
}
h2 {
    font-weight: 200;
}