html * {
    font-family: Verdana, sans-serif;
}
img {
    width: auto;
    height: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}
#risotto {
    background-color: yellow;
}
.lemonade {
    background-color: aquamarine;
}
h2 {
    font-weight: 200;
}
h1 {
    margin: auto;
}
.img_pancakes {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}